<div class="sidebar sidebar-bba">
        <ul>
                <li><a href="/no-mans-sky-base-builder-app/guides/">👋 Introduction</a></li>
                <hr />
                <li><a href="/no-mans-sky-base-builder-app/guides/importing-from-nms/">⏬ Importing from NMS</a></li>
                <li><a href="/no-mans-sky-base-builder-app/guides/exporting-to-nms/">🚀 Exporting to NMS</a></li>
                <hr />
                <li><a href="/no-mans-sky-base-builder-app/guides/manipulation-tools/">🛠️ Manipulation Tools</a></li>
                <li><a href="/no-mans-sky-base-builder-app/guides/snapping/">🫰 Snapping</a></li>
                <li><a href="/no-mans-sky-base-builder-app/guides/power-and-cables/">⚡ Power & Cables</a></li>
                <li><a href="/no-mans-sky-base-builder-app/guides/prefabs/">📦 Prefabs</a></li>
                <li><a href="/no-mans-sky-base-builder-app/guides/tools/">🧰 Tools</a></li>
                <hr />
                <li><a href="/no-mans-sky-base-builder-app/guides/videos/">📺 Videos / Tutorials</a></li>
        </ul>
</div>