<!-- Spotlight -->
<section class="wrapper style1 align-center {{ .style }}" >
    <div style="padding-top:60px;">
    {{ with .title }}<h2>{{ . }}</h2>{{ end }}
    </div>
    <div class="columned_layout" style="grid-template-columns: 1fr 3fr; column-gap:2rem; margin: 0 100px;">
        <div class="align-left">
            {{ with .left_content }}<p>{{ . | safeHTML }}</p>{{ end }}
        </div>
        <div class="align-left">
            {{ with .right_content }}<p>{{ . | safeHTML }}</p>{{ end }}
        </div>
    </div>
</section>