<h2 id="factsheet">Factsheet<a hidden="" class="anchor" aria-hidden="true" href="#factsheet">#</a></h2>
<h3 id="developer">Developer:<a hidden="" class="anchor" aria-hidden="true" href="#developer">#</a></h3>
<p>DjMonkey<br>Developed in Surrey, UK</p>
<h3 id="release-date">Release Date:<a hidden="" class="anchor" aria-hidden="true" href="#release-date">#</a></h3>
<p>12 December 2023 (Early Access)<br>19 June 2025 (Full Release)</p>
<h3 id="platforms">Platforms:<a hidden="" class="anchor" aria-hidden="true" href="#platforms">#</a></h3>
<p>Steam PC</p>
<h3 id="website">Website:<a hidden="" class="anchor" aria-hidden="true" href="#website">#</a></h3>
<p><a
        href="https://djmonkey.uk/tales-from-the-dancing-moon">https://djmonkey.uk/tales-from-the-dancing-moon</a>
</p>
<h3 id="regular-price">Regular Price:<a hidden="" class="anchor" aria-hidden="true" href="#regular-price">#</a></h3>
<p>£14.99 / $17.99</p>