<!-- Footer -->
<footer class="wrapper style1 align-left invert">
    <div class="inner">
        <strong><p>DjMonkey is a writer, technical artist, and all-round game developer.</i></p></strong>

        <p>A creative story-teller at heart, using the combination of both art and technology. He spent over ten years in the London film and VFX industry as a technical artist being responsible for creating CG characters and creatures. He has worked on films such as <i>Maleficent, Cinderella, Venom, Ron's Gone Wrong</i>, and more.</p>
        <div style="display:grid; grid-template-columns: repeat(4, 140px); margin-bottom: 30px; justify-content: center;">
            <img src="/images/tftdm/maleficent.png" width="120px"/>
            <img src="/images/tftdm/cinderella.jpg" width="120px"/>
            <img src="/images/tftdm/venom.png" width="120px"/>
            <img src="/images/tftdm/ronsgonewrong.jpg" width="120px"/>
        </div>
        <p>He is enthusiastic about enabling other artists unlock their potential through tooling. To the gaming community this manifested in the form of tools for building bases in No Man's Sky, and eventually developing and directing his own indie PC game titled <i>Tales from The Dancing Moon</i></p>

        <ul class="icons">
            {{ with .Site.Params.social.discord }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-discord"><span class="label">Discord</span></a></li>{{end}}
            {{ with .Site.Params.social.threads }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-threads"><span class="label">Threads</span></a></li>{{end}}
            {{ with .Site.Params.social.instagram }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>{{end}}
            {{ with .Site.Params.social.twitter }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>{{end}}
            {{ with .Site.Params.social.github }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-github"><span class="label">Github</span></a></li>{{end}}
            {{ with .Site.Params.social.linkedin }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>{{end}}
            {{ with .Site.Params.social.email }}<li><a target="_blank" href="mailto:{{.}}" class="fav icon style2 fa-envelope"><span class="label">Email</span></a></li>{{end}}
            {{ with .Site.Params.social.substack }}<li><a target="_blank" href="{{.}}" class="icon solid style2 fa-bookmark"><span class="label">Substack</span></a></li>{{end}}
        </ul>

</div>
</footer>

<!-- FontAwesome JS -->
{{ range .Site.Params.asset.fontawesome_js -}}
    <script type="text/javascript" src="{{ . | absURL }}"></script>
{{- end }}