<div class="sidebar sidebar-tftdm">
        <ul>
                <li><a href="/tales-from-the-dancing-moon/guides/">👋 Welcome</a></li>
                <hr />
                <li><a href="/tales-from-the-dancing-moon/guides/act1/">🌙 Act 1 / Demo</a></li>
                <li><a href="/tales-from-the-dancing-moon/guides/act2/">🫖 Act 2</a></li>
                <li><a href="/tales-from-the-dancing-moon/guides/act3/">🌀 Act 3 & Finale</a></li>
                <hr />
                <li><a href="/tales-from-the-dancing-moon/guides/diaries/">📖 Andrew's Diaries</a></li>
                <li><a href="/tales-from-the-dancing-moon/guides/lake-fishing/">🎣 Fishing Lake Guide</a></li>
        </ul>
</div>