<div class="EpicWidget">
    <div><a href="https://store.epicgames.com/en-US/p/tales-from-the-dancing-moon-8ee7c4" target="_blank">
            <img alt="Tales from The Dancing Moon Demo"
                src="/images/tftdm/logos/epic_demo.png" width="480px" />
        </a></div>
    <div>
        <div><span class="sub_heading">Epic Games</span>
            <div><a href="https://store.epicgames.com/en-US/p/tales-from-the-dancing-moon-8ee7c4" target="_blank">
                    <h3>Tales from The Dancing Moon Demo</h3>
                </a></div>
        </div>
        <div>
            <div>
                <p>Play the first Act of this mysterious character driven story inspired by
                    UK culture and fantasy novels! Demo gameplay is a portion of the full game and is restricted
                    to the season of Spring.</p>
            </div>
        </div>
        <div role="separator" class="sep"></div>
        <div>
            <div class="button_placeholder"><a href="https://store.epicgames.com/en-US/p/tales-from-the-dancing-moon-8ee7c4"
                    target="_blank">
                    <!-- <button type="button" class="button-left">Get</button> -->
                </a></div>
            <a href="https://store.epicgames.com/en-US/p/tales-from-the-dancing-moon-8ee7c4" target="_blank"><button
                    type="button" class="button-right">Go to Epic Game Store</button></a>
        </div>
    </div>
</div>