<div class="EpicWidget">
    <div><a href="https://store.epicgames.com/en-US/p/tales-from-the-dancing-moon-8ee7c4" target="_blank">
            <img alt="Tales from The Dancing Moon Demo"
                src="/images/tftdm/logos/epic_demo.png" width="480px" />
        </a></div>
    <div>
        <div><span class="sub_heading">Epic Games</span>
            <div><a href="https://store.epicgames.com/en-US/p/tales-from-the-dancing-moon-8ee7c4" target="_blank">
                    <h3>Tales from The Dancing Moon</h3>
                </a></div>
        </div>
        <div>
            <div>
                <p>Tales from the Dancing Moon is a life-sim RPG set in a parallel universe inspired by UK culture and fantasy novels. After the events of a shadow-beast invasion on a seaside town, complete villager quests and collect hidden diaries to understand your role in this mysterious character-driven story.</p>
            </div>
        </div>
        <div role="separator" class="sep"></div>
        <div>
            <div class="button_placeholder"><a href="https://store.epicgames.com/en-US/p/tales-from-the-dancing-moon-8ee7c4"
                    target="_blank">
                    <!-- <button type="button" class="button-left">Get</button> -->
                </a></div>
            <a href="https://store.epicgames.com/en-US/p/tales-from-the-dancing-moon-8ee7c4" target="_blank"><button
                    type="button" class="button-right">Buy on Epic Game Store</button></a>
        </div>
    </div>
</div>