{{- $id := .Get 0 | default (.Get "id") -}}
{{- if not $id -}}
  {{- errorf "youtube shortcode requires an ID" -}}
{{- end -}}

{{- $title := .Get "title" | default "YouTube video" -}}
{{- $start := .Get "start" | default 0 -}}
{{- $end := .Get "end" | default 0 -}}
{{- $autoplay := .Get "autoplay" | default 0 -}}
{{- $controls := .Get "controls" | default 1 -}}
{{- $mute := .Get "mute" | default 0 -}}
{{- $loop := .Get "loop" | default 0 -}}
{{- $params := dict "autoplay" $autoplay "controls" $controls "mute" $mute "loop" $loop "start" $start "end" $end "playsinline" 1 -}}
{{- $src := printf "https://www.youtube.com/embed/%s?%s" $id ($params | querify) -}}

<div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; margin: 1.5rem 0;">
  <iframe
    src="{{ $src }}"
    title="{{ $title }}"
    loading="lazy"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; fullscreen"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0;"
  ></iframe>
</div>
